DATABASE_URL=""
DIRECT_URL=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
BREVO_API_KEY=""
BREVO_SENDER_NAME="EnVault"
BREVO_SENDER_EMAIL=""
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
NEXT_PUBLIC_APP_URL="http://localhost:3000"
SHARE_LINK_BASE="http://localhost:3000/share"
